<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Discord Login</title>
</head>
<body>
    <h1 class="bot">Crunchyroll Bot v0.1 alpha</h1>
    <div class="container">
        <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" class="avatar" alt="User Avatar">
        <p class="user-name"><%= user.username %><span>#<%= user.discriminator %></span></p>
        <input class="user-id" type="hidden" value="<%= user.id %>">
        <input class="user-avatar" type="hidden" value="<%= user.avatar %>">

        <div class="message">
            <p>
                Prontinho, agora você pode fechar essa página e assistir seus animes!
            </p>
        </div>
    </div>
</body>
</html>